<div class="footer">
    <div><p>Copyright © 2021 All Rights Reserved | PayOne Bank</p></div>
    <div><p>Made With ❤️ By <a href="https://www.linkedin.com/in/omkar-jadhav-7809b7196/">Omkar</a></p></div>
    <!-- <div><a class="scrolltop" href="https://instagram.com"><i class="fab fa-facebook"></i></a></div> -->
  </div>
  <script type="text/javascript">
    var mybutton = document.getElementById("top");
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // var mynavbar = document.getElementById("navbar");
    // window.onscroll = function() {changeNav()};
    // function changeNav(){
    //   if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
    //     mynavbar.style.backgroundColor = "white";
    //   } else {
    //     mynavbar.style.backgroundColor = "black";
    //   }
    // }
  </script>
</body>
</html>