<%- include("partials/header")%>
<a id="top" href="#top1" class="scrolltop"><i class="fa fa-arrow-up"></i></a>
    <div id="top1" class="container">
        <div class="img"><img src="images/bank3.png" alt=""></div>
        <div class="intro">
          <h1>Welcome to the World’s First Physical <span class="crypto">Crypto</span> Banking .</h1>
          <p>World's First Bank To Accept and save any type of <span class="crypto">Cryptocurrency</span>. It's a Banking Experience Never Before.</p>
          <div class="actionbuttons">
            <form action="/view-customers" method="GET">
              <button class="abtn"><a href="/view-customers"><p>View Users <i class="fa fa-chevron-right view"></i><p></a></button>
            </form>
            <button class="abtn"><a href="#"><p>Create Account<i class="fa fa-chevron-right view"></i><p></a></button>
          </div>
          <div class="interest">
            <div class="interest1">
              <img src="images/bank.png" alt="">
              <p>Licensed & regulated financial institution</p>
            </div>
            <div class="interest1">
              <span class="ten">10</span>
              <p>10 Years of Experience</p>
            </div>
            <div class="interest1">
              <span class="ten">9.5%</span>
              <p>Earn up to 9.67% annual interest on your INR and Crypto</p>
            </div>
            </div>
        </div>
    </div>
    <div class="cdcontainer">
      <h1>Some Extra Features of Our Bank</h1>
      <div class="cards">
        <div class="card">
          <div class="img">
            <img src="images/users.png" alt="">
          </div>
          <div class="cardcontainer">
            <h1>Users</h1>
            <button class="abtn"><a href="/view-customers"><p>View Users <i class="fa fa-chevron-right view"></i><p></a></button>
            <p></p>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="images/transfer.png" alt="">
          </div>
          <div class="cardcontainer">
            <h1>Transfer Money</h1>
            <button class="abtn"><a href="/transfer-money"><p>Transfer Money<i class="fa fa-chevron-right view"></i><p></a></button>
            <p></p>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="images/transaction.png" alt="">
          </div>
          <div class="cardcontainer">
            <h1>Transaction History</h1>
            <button class="abtn"><a href="#"><p>Transaction History<i class="fa fa-chevron-right view"></i><p></a></button>
            <p></p>
          </div>
        </div>
      </div>
    </div>
<%- include("partials/footer")%>   